<!--
  The turtlebot people (or whatever) follower nodelet.
 -->
<launch>
    <include file="$(find turbot_bringup)/launch/minimal.launch">
 </include>
    <include file="$(find turtlebot_navigation)/launch/includes/3dsensor/kinect2/kinect2_cpu.launch">
 </include>
    <include file="$(find turtlebot_navigation)/launch/gmapping/kinect2_gmapping_demo.launch">
 </include>
</launch>
